@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$bg-color: #222;
$text-color: #999;
$subtle-color: darken($text-color, 25%);
$accent-color: #91e83a;
$active-color: saturate(lighten($accent-color, 20%), 20%);
$subtle-accent: darken($accent-color, 25%);

body {
	background-color: $bg-color;
	color: $text-color;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16pt;
}
.contained {
	display: block;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}
a {
	text-decoration: none;
	color: $text-color;
	// border-bottom: thin dotted $subtle-color;
	&:hover {
		color: $accent-color;
	}
	&:active {
		color: $active-color;
		text-shadow: 0 0 3px $accent-color;
	}
}
img {
	max-width: 100%;
}
video {
	width: 100%;
	height: auto;
	object-fit: fill;
}
article.single a[href]:not(.footnote-backref):not(.hashtag)  {
	// border-bottom: thin solid $subtle-color;
	// background-color: transparentize($accent-color, .9);
	color: $accent-color;
	&:hover {
		color: white;
		background-color:transparent;
	}
}
:target {
	padding-top: 5em;
	margin-top: -5em;
}
header {
	position: fixed;
	top: 0;
	z-index: 100;
	nav {
		font-family: 'Exo', sans-serif;
		width: 100vw;
		max-width: 100vw;
		background-color: #000c;
		&:hover {
			background-color: darken($bg-color, 20%);
		}
		> ul.flexbox {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin:0 auto;
			> li {
				//flex: 1;
				flex-grow:1;
				text-align: center;
				a {
					display: block;
					padding: 1em 0;
					//border: thin solid;
					&:hover {
						text-shadow: 0 0 10px $accent-color;
					}
				}
			}
		}
	}
}
div.hero {
	//position: absolute;
	background-position-x: center;
	background-position-y: center;
	//background-attachment: fixed;
	background-repeat: no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	//top:0;
	width: 100vw;
	max-width: 100vw;
	height: 16em;
	z-index: -10;
}
#content *:first-child{
	//margin-top: 4em;
}
// #content > article:first-child {
// 	margin-top: 16em;
// }

header {
	border-bottom: thin solid $accent-color;
}
footer {
	border-top: thin solid $accent-color;
}

.hashtag {
	/*display: inline-block;
	border: thin solid black;
	border-radius: 3px;
	padding: 2px;*/
	&:before {
		content: "#";
	}
}
.inline, .hashtags, .socials {
	margin-left: 0;
	padding-left: 0;
	li {
		display: inline-block;
	}
}
.centered {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
nav {
	&.inline {
		display: inline-block;
	}
	.active {
		color: $accent-color;
	}
}
.subtle, .footnotes {
	color: $subtle-color;
	a {
		color: $subtle-color;
		&:hover {
			color: $accent-color;
		}
		&:active {
			color: $active-color;
		}
	}
}
.footnotes {
	font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
}
hr {
	color: $text-color;
	border-color: $text-color;
	border: none;
	border-top: 1px solid;
}
table {
	max-width: 100%;
	margin: 1em auto;
}
mark, ::selection {
	background-color: $accent-color;
	color: $bg-color;
}
mark a {
	color: $bg-color;
	&:hover {
		color: $active-color;
	}
}

footer {
	margin-top: 2em;
	.flexbox {
		display: flex;
		justify-content: space-evenly;
		> div {
			// flex: 1;
			flex-shrink: 3;
		}
	}
	.copyright {
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	h2 {
		text-align: center;
	}
}
.pagination {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li {
		a {
			padding: .5rem;
		}
	}
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
code {
	font-family: "Roboto Mono", monospace;
}
pre {
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	// overflow-y: scroll;
	overflow-x: scroll;
	background-color: #0003;
	padding: 1em;
}

p code {
	background-color: #0003;
	padding: 0 .3em;
}

blockquote {
	border-left: 3px solid;
	padding-left: 1em;
	font-style: italic;
	color: $accent-color;
}
.Joe.Bush {
	.cards {
		> :first-Child {
			flex-basis: 100%;
		}
	}
}

@media (max-width: 360px) {
	footer .flexbox {  
		display: block;
		margin-left: auto;
		margin-right: auto;
		div {
			//display: inline-block;
		}
	}
	.socials i {
		font-size: 2em;
		padding: .25em;
	}
}

////////////////////////////////////////////////
////////////////////////////////////////////////
.flexbox {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	a.card {
		display: block;
		//margin: 1em;
		// width: 33.3333%;
	}
}
.cards {
	position: relative;
	max-width: 100%;
	pre {
		display: none;
	}
}
.card {
	// border: thin solid;
	border-radius: .2em;
	margin: 1rem;
	box-shadow: 0 0 .3em #0004;
	background-color: lighten($bg-color, 5%);
	flex-basis: 30%;
	flex-grow: 1;
	flex-shrink: 1;
	transition: all .3s;
	position: relative;
	z-index: 0;
	article > *:not(img):not(div) {
		margin: 1rem;
	}
	img {
		width: 100%;
		border-radius: .2em .2em 0 0;
		// max-height: 5em;
	}
	div {
		width: 100%;
		border-radius: .2em .2em 0 0;
		min-height: 7rem;
		height: 33%;
		//position: absolute;
		background-position-x: center;
		background-position-y: center;
		//background-attachment: fixed;
		background-repeat: no-repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 .3em $accent-color;
	}
	&:active, &:focus {
		.subtle {
			text-shadow: none;
		}
	}
}
.Tags, .smallcards {
	.card {
		font-size: 1rem;
		flex-basis: 20%;
		margin: .5rem;
		h2, p {
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
}

@media (max-width: 360px){
	.flexbox {
	a.card {
		width: auto;
		flex-basis: 90%;
		}
	}
}

////////////////////////////////////////////////
////////////////////////////////////////////////

@media (max-width: 360px){
	body {
		animation: bugfix infinite 1s;
		-webkit-animation: bugfix infinite 1s;
	}
	@keyframes bugfix { from {padding:0;} to {padding:0;}}
	@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

	#overlay-button {
	  position: absolute;
	  right: 0;
	  top: 0;
	  margin-left: 0;
	  width: 100%;
	  height: 2em;
	  z-index: 5;
	  padding: 1em 1em 0 0 ;
	  cursor: pointer;
	  user-select: none;
	  a {
	  	margin-left: 2em;
	  	color: $accent-color;
	  }
	  span {
	      height: 4px;
	      width: 35px;
	      border-radius: 2px;
	      background: $accent-color;
	      position: relative;
	      top: .4em;
	      float: right;
	      display: block;
	      transition: all .2s ease-in-out;
	      &:before {
	        top: -10px;
	        visibility: visible;
	      }
	      &:after {
	        top: 10px;
	      }
	      &:before, &:after {
	          height: 4px;
	          width: 35px;
	          border-radius: 2px;
	          background-color: $accent-color;
	          position: absolute;
	          content: "";
	          transition: all .2s ease-in-out;
	      }
	    }
	    &:hover span, &:hover span:before, &:hover span:after {
	      background: $accent-color;
	    }
	}

	input[type=checkbox] {
	  display: none;
	}

	input[type=checkbox]:checked ~ #overlay {
	  visibility: visible;
	}

	input[type=checkbox]:checked ~ #overlay-button {
	  &:hover span, span{
	    background: transparent;
	  }
	  span {
	    &:before {
	      transform: rotate(45deg) translate(7px, 7px);
	      opacity: 1;
	    }
	    &:after {
	      transform: rotate(-45deg) translate(7px, -7px);
	    }
	  }
	}

	#overlay {
	  height: 100vh;
	  width: 100vw;
	  top: 0;
	  left: 0;
	  padding-top: 3em;
	  padding-bottom: 2em;
	  z-index: -1;
	  visibility: hidden;
	  position: fixed;
	  background-color: #000000f0;
	  &.active {
	    visibility: visible;
	  }
	  ul {
	    display: flex;
	    justify-content: center;
	    align-items: stretch;
	    flex-direction: column;
	    text-align: center;
	    height: 80%;
	    padding-left: 0;
	    padding-right: 0;
	    list-style-type: none;
	  }
	}
}
@media (max-width: 360px){
	header {
		width: 100vw;
		display: block;
		height: 3em;
		background-color: #000c;
		nav:hover {
			background-color: inherit;
		}
	}
}
@media (min-width: 361px) {
	body {
		#overlay {
			visibility: visible;
		}
		#overlay-input {
			display: none;
		}
		#overlay-button {
			display: none;
		}
	}
}