<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ .Title }}">
        <div>
        	{{- partial "header.html" . -}}
    	</div>
    	{{ partial "hero.html" . }}
        <div id="content" class="contained">
        	{{- block "main" . }}{{- end }}
        </div>
        <div class="contained">
        	{{- partial "footer.html" . -}}
    	</div>
    </body>
</html>

