{{ define "main" }}
    <section class="centered">
    	<h1>{{ .Title }}</h1>
    	{{ .Content }}
    </section>
    <section>
    	<div class="flexbox cards">
		{{ range (.Paginator 5).Pages }}
			{{ partial "card.html" . }}
		{{ end }}
		</div>
        {{ template "_internal/pagination.html" . }}

    </section>
    <section class="centered">
        <p><a href="/tags/">Or Browse by Tags</a></p>
    </section>
{{ end }}