{{ define "main" }}
	<h1>{{.Title}} tags</h1>
	{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		<article>
			<a href=" relref . /tags/{{ $name | urlize }}">
				<h2>
					#{{ $name | humanize }} ({{ $taxonomy.Count }})
				</h2>
				text

				
			</a>
		</article>
	{{ end }}
{{ end }}