{{ define "main" }}
	<article>
		<h1>{{ .Title }}</h1>
		{{ partial "hashtags.html" . }}
	  <table>
	  	{{ range $key, $value := .Params.skills }}
	  	<tr>
	  		<th colspan="2">
	  			<h2>{{ $key | humanize | title }}</h2>
	  		</th>
	  	</tr>
	  	{{ range $k, $v := $value}}
	  		<tr>
	  			<td>
	  				{{ $k }}
	  			</td>
	  			<td>
	  				{{ "★" | strings.Repeat $v }}<span class="subtle">{{ "☆" | strings.Repeat (sub 5 $v)  }}</span>
	  			</td>
	  		</tr>
	  	{{end}}
	  	{{end}}
	  </table>
	  {{ .Content }}
	</article>
{{ end }}